# Server Settings
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database Settings
MONGO_URI=mongodb://127.0.0.1:27017/EventHall_db

# JWT Configuration
JWT_SECRET=super_secret_jwt_key_change_in_production_12345
JWT_EXPIRES_IN=7d

# Default Admin Credentials for Seed Script
ADMIN_NAME=SVGU Campus Admin
ADMIN_EMAIL=admin@svgu.edu.in
ADMIN_PASSWORD=AdminPass@123
